<!doctype html>
<html lang="en">
  <head>
    <!-- Meta tags-->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="static/dash.css">
    <link href="static/fontawesome/css/all.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
  </head>
  <body>
    <div class = "wrapper">
    <!-- Sidebar -->
    <nav class = "shadow-sm" id="sidebar">
        <div class="sidebar-header">
            <h6 class = "sidebar-title"><br>UWA SmartBin Network</h6>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="/dash"><div class = "sidebar-button"><i class="icon fas fa-home"></i><div class = "sidebar-label">Dashboard</div></div></a>
            </li>
            <li>
                <a href="/sensors"><div class = "sidebar-button"><i class="icon fas fa-wifi"></i><div class = "sidebar-label">Sensors</div></div></a>
            </li>
            <li class = "active">
                <a href="/datalog"><div class = "sidebar-button"><i class="icon fas fa-database"></i><div class = "sidebar-label">Data Logs</div></div></a>
            </li>
        </ul>

    </nav>
    <!-- Page Content -->
    <div id = "content">
        <nav class="navbar navbar-expand-lg">
            <div>
                <button type="button" id="sidebarCollapse" class = "navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <h6 id = "homeTitle">UWA SmartBin Network | <div class = "index">Data Logs</div> </h6>
        </nav>
      <div class = "container">
          <div class = "container">
                    <div class = "shadow-sm card">
                        <h6 class = "card-title">All Received Sensor Data</h6>
                        <script>
                            var bin_ids = {{bin_ids | safe}};
                            var bin_data = {{bin_data | tojson | safe}};
                            var sensor_ids = {{sensor_ids | safe}};
                            var sensor_data = {{sensor_data | tojson | safe}};
                            var data = {{data | tojson | safe}}
                        </script>
                        <table id="myTable" class="display">
                            <thead>                                    
                                <tr>
                                    <th>Time</th>
                                    <th>Bin ID</th>
                                    <th>Sensor ID</th>
                                    <th>Reading(cm)</th>
                                    <th>Latitude</th>
                                    <th>Longitude</th>
                                    <th>RSSI</th>
                                    <th>Sensor type</th>
                                    </tr>
                                </thead>
                        </table>
                    </div>
                    <div class = "shadow-sm card">
                      <h6 class = "card-title">Bin Locations</h6>
                    </div>
                  </div>
                </div>
          </div>
      </div>
    </div>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src = "static/sensors.js"></script>   
    <script src = "static/sidebar.js"></script>
    
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
  </body>

</html>