<!doctype html>
<html lang="en">
  <head>
    <!-- Meta tags-->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="static/dash.css">
    <link href="static/fontawesome/css/all.css" rel="stylesheet">

  </head>
  <body>
    <div class = "wrapper">
    <!-- Sidebar -->
    <nav class = "shadow-sm" id="sidebar">
        <div class="sidebar-header">
            <h6 class = "sidebar-title"><br>UWA SmartBin Network</h6>
        </div>

        <ul class="list-unstyled components">
            <li class = "active">
                <a href="#"><div class = "sidebar-button"><i class="icon fas fa-home"></i><div class = "sidebar-label">Dashboard</div></div></a>
            </li>
            <li>
                <a href="/sensors"><div class = "sidebar-button"><i class="icon fas fa-wifi"></i><div class = "sidebar-label">Sensors</div></div></a>
            <li>
                <a href="/datalog"><div class = "sidebar-button"><i class="icon fas fa-database"></i><div class = "sidebar-label">Data Logs</div></div></a>
            </li>
        </ul>

    </nav>
    <!-- Page Content -->
    <div id = "content">
        <nav class="navbar navbar-expand-lg">
            <div>
                <button type="button" id="sidebarCollapse" class = "navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <h6 id = "homeTitle">UWA SmartBin Network | <div class = "index">Dashboard</div> </h6>
        </nav>
      <div class = "container">
          <div class = "container">
              <div class="row">
                  <div class="col-sm-6">
                    <div class = "shadow-sm card">
                        <h6 class = "card-title">Bin Sensor Status</h6>
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th width = 70px scope="col">Bin ID</th>
                                <th width = "200px" scope="col">Waste level</th>
                                <th scope="col"></th>
                                <th scope="col">Status</th>
                              </tr>
                            </thead>
                            <tbody id = "sensor-table">
                            </tbody>
                        </table>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class = "shadow-sm card">
                      <h6 class = "card-title">Bin Locations</h6>
                      <div id="map">
                        <script>
                            var bin_ids = {{ bin_ids | safe }};
                            var map;
                            function initMap() {
                              map = new google.maps.Map(document.getElementById('map'), {
                                center: {lat: -31.9789,lng: 115.8178},
                                zoom: 16,
                                disableDefaultUI: true,
                                scaleControl: true,
                                zoomControl: true,
                              });} 
                              var data = JSON.parse(('{{ data | tojson | safe }}'));
                          </script>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
      </div>
    </div>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src = "static/dash.js"></script>
    <script src = "static/sidebar.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAuLLstMh9g-tZy93dNv0zEXOWHQQ0hWs&callback=initMap" async defer></script>
    
  </body>

</html>