<!doctype html>
<html lang="en">
  <head>
    <!-- Meta tags-->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="static/fontawesome/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.css" integrity="sha256-PaAZL3VjvuBsQSngzjA8dTdYa2mU88xmjd0vw8biXfg=" crossorigin="anonymous">
    <link rel="stylesheet" href="static/dash.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <!--[if lt IE 9]><script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.0.8/es5-shim.min.js"></script><![endif]-->

  </head>
  <body>
    <div class = "wrapper">
    <!-- Sidebar -->
    <nav class = "shadow-sm" id="sidebar">
        <div class="sidebar-header">
            <h6 class = "sidebar-title"><br>UWA SmartBin Network</h6>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="/dash"><div class = "sidebar-button"><i class="icon fas fa-home"></i><div class = "sidebar-label">Dashboard</div></div></a>
            </li>
            <li class = "active">
                <a href="/sensors"><div class = "sidebar-button"><i class="icon fas fa-wifi"></i><div class = "sidebar-label">Sensors</div></div></a>
            </li>
            <li>
            <a href="/datalog"><div class = "sidebar-button"><i class="icon fas fa-th-large"></i><div class = "sidebar-label">Data Logs</div></div></a>
            </li>
        </ul>

    </nav>
    <!-- Page Content -->
    <div id = "content">
        <nav class="navbar navbar-expand-lg">
            <div>
                <button type="button" id="sidebarCollapse" class = "navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <h6 id = "homeTitle">UWA SmartBin Network | <div class = "index">Sensors</div> </h6>
        </nav>
      <div class = "container">
          <div class = "container">
              <script>
                const bin_ids = {{ bin_ids | safe}};
                const options = {{ options | safe}};
                const data = {{ data | tojson | safe}};
              </script>
              <input type="text" id="input-tags"/>
                    <div class = "col-sm-11 shadow-sm card">
                        <h6 class = "card-title">Signal Strength</h6>
                        <canvas id="rssi-chart" width="60%" height="15%"></canvas>
                    </div>
                    <br>
                    <div class = "col-sm-11 shadow-sm card">
                      <h6 class = "card-title">Waste Fill Level</h6>
                      <canvas id="fill-level-chart" width="60%" height="15%"></canvas>
                    </div>
                  </div>
                </div>
          </div>
      </div>
    </div>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src = "static/sensors.js"></script>   
    <script src = "static/sidebar.js"></script>
    <script src = "static/moment/moment.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sifter/0.5.3/sifter.min.js" integrity="sha256-mxM39LWfy+5SpRaErGX16VP6M+saQp36JyvQvkWZk3k=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microplugin/0.0.3/microplugin.js" integrity="sha256-frQLK1qgMz5KYBSMw1k2UdxrzRZX7edoe8wioC44vtU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/selectize.js" integrity="sha256-PkEoSew+2dpwU3406GU7UJnCzGif+qsuGaal/mFh3Ec=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js" integrity="sha256-J2sc79NPV/osLcIpzL3K8uJyAD7T5gaEFKlLDM18oxY=" crossorigin="anonymous"></script>
</body>

</html>